.chat-view ion-content ion-toolbar {
    --background: translucent;
}

.chat-view ion-header ion-icon{
    --color: white !important;
}

.chat-view ion-header ion-title{
    padding-left: 0 !important;
}

.chat-view ion-input {
    --background: rgba(255, 255, 255, 0.1) !important;
    --color: white !important;
}

.chat-view ion-col ion-button{
    float: right;
    margin-top: 2px;
    width: 100% !important;
}

.content-unread-messages{
    max-width: 25px;
}

.unread-messages{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #294f89;
    color: white;
    display: block;
    float: right;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.3rem;
}

.bubble-chat{
    border-radius: 6px;
    margin: 10px 25px;
    max-width: 60%;
    min-width: 40%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    position: relative;
    float: left;
}

.bubble-chat:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: transparent #2a2a2a transparent transparent;
    position: absolute;
    left: -10px;
    bottom: 0;
}

.bubble-chat--mine{
    background-color: rgba(66,140,255,0.5);
    float: right;
    clear: both;
}

.bubble-chat--mine:before{
    border-width: 15px 0 0 15px;
    border-color: transparent transparent transparent #294f89;
    left: unset;
    right: -10px;
}

.bubble-chat--deleted{
    opacity: 0.4 !important;
}

.bubble-chat--deleted p{
    font-size: 0.8rem;
}

.bubble-chat p{
    margin-top: 0;
    margin-bottom: 5px;
}

.bubble-chat span{
    display: block;
    width: 100%;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
}

.content-meta-data{
    font-size: 0.7rem;
}

.content-meta-data ion-icon{
    margin-left: 5px;
    margin-bottom: -2px;
    color: #fff;
}

.action-sheet-button.hidden{
    display: none !important;
}

.unread-messages-bridge{
    background-color: var(--ion-color-danger);
    border-radius: 100%;
    width: 17px;
    height: 17px;
    text-align: center;
    color: white;
    font-size: 0.65rem;
    position: absolute;
    padding-top: 2px;
    top: 0.3rem;
    transform: translateX(0.5rem);
}